.titulo-galeria{
    background-color: $mainColor;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 3em solid red;
    justify-content: space-around;
    align-items: center;
    img{
        width: 150px;
    }
    .top{
        background-color: $white;
        border: .5em solid black;
        padding: 1em;
    }
} 

.strong{
    background-color: map-get($map:$paleta, $key: 'dos' );
}

p{
	@include texto(1em,1em,$black);
}

.box{
	@include d-flex(center, center);
}

.line{
    border: .05em solid black;
}