@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&family=Roboto:wght@100;400&display=swap');

// vars fonts
$mainFont: 'Roboto', sans-serif;
$secondaryFont: 'Nunito', sans-serif;

//sizes
$textSm: 0.8em;
$textMd: 1em;
$textLg: 1.6em;
$textXl: 2em;