
#galeria{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    div{
        margin: 0.5em;
        list-style-type: none;
        background-color: white;
        padding: 0.5em;
        align-items: center;
        display: grid;
        a img{
            width: 100%;
            :hover{
                transform: scale(1.2);
            }
        }
    }
}